{% extends 'base.html' %}

{% block content %}
<div class="profboard-container">
    <h2 class="profboard-title text-center mb-4">Tableau de Bord du Prof : {{ teacher.first_name }} {{ teacher.last_name }}</h2>
    <h3 class="profboard-subtitle mb-3">Classes Assignées</h3>
    
    <div class="profboard-card">
        <div class="card-body">
            <ul class="list-group">
                {% for assigned_class in assigned_classes %}
                    <li class="list-group-item profboard-list-group-item">
                        <a href="{% url 'class_detail' assigned_class.class_assigned.id %}" class="profboard-link">
                            <strong>{{ assigned_class.class_assigned.name }}</strong> (Année: {{ assigned_class.class_assigned.year }})
                        </a>
                    </li>
                {% empty %}
                    <li class="list-group-item">Aucune classe assignée.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
